@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

.greeting-container {
  font-family: "Open Sans", sans-serif;
  display: none;
}

.greeting-p {
  font-size: 18px;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: #024dbc !important;
}
#choice-output {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  min-height: 24px;
}
.first-input-container {
  margin-top: 20px;
  display: none !important;
}
.second-input-container {
  margin-top: 20px;
  display: none !important;
}
.third-input-container {
  margin-top: 20px;
  display: none !important;
}
.input-container-hidden {
  display: none !important;
}
.form-control {
  width: 300px !important;
}
.input-group {
  width: 500px !important;
}
.dropdown-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.btn-share-data {
  width: 150px;
  margin-left: 100px;
}
#text-before-img {
  margin-bottom: 30px;
}
#output-data {
  font-size: 16px;
  font-weight: 600;
}
.graph {
  margin: 60px auto 30px;
  width: 100%;
  /* max-width: 1400px; It is not needed for my display. */
}

#plots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#plots img {
  flex: 0 1 auto;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
}

#save-image-btn {
  display: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
